html, 
body {
    margin: 0;
    padding: 0;
}



/* 
Header
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(97, 14, 14);

}

.left-header,
.right-header {
    display: flex;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    align-items: center;
}

.left-header {
    font-size: 14px;
    font-weight: bold;
    width: 300px;
}

.right-header{
    font-weight: 200;
}

#logo {
    height: 75px;
    width: auto;
    transform: scaleX(-1);
}


/* 
BODY ONE
*/

.body-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(97, 14, 14);
    height: 500px;
}

.left-body-one {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.left-body-one .title {
    width: 400px;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}

.left-body-one .body {
    font-size: 20px;
}

.left-header,
.left-body-one {
    padding-left: 200px;
}

.right-header,
.right-body-one {
    padding-right: 200px;
}

#council-room {
    height: 300px;
    width: auto;
}


/*
Members
*/
.members{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    row-gap: 30px;

}
.members .title {
    padding: 20px;
    color:  rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 900;

}
.member-info {
    display: flex;
    gap: 30px;

}
.members .name {
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0); 
}

.members .rank{
    font-size: 20px;
    font-weight: 600;
    color: rgb(202, 68, 68);
}
.shirogane,
.shinomiya,
.fujiwara,
.ishigami {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.member-info img {

    width: 300px;
    height: 300px;
    object-fit: scale-down;
    border-radius: 30px;
    background-color: rgb(202, 68, 68);
    transition: .2s;
}

.member-info img:hover {
    transform: scale(1.05);
}


/*
Quote
*/

.body-two {
    height: 500px;
    background-color: rgb(219, 217, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.quote {
    color: rgb(78, 78, 78);
    width: 800px;
    font-weight: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.quote-sayer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: rgb(59, 59, 59);
    font-size: 30px;
    text-align: right;
    padding-left: 130px;
}

/*
Join Us
*/

.join-us{
    height: 300px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.info{
    width: 1000px;
    height: 150px;
    background-color: rgb(202, 68, 68);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    row-gap: 5px;
}

.content .title {
    font-size: 30px;
    font-weight: 900;
}

.content .body{
    font-size: 18px
}
a {
    text-decoration: none;
    color: white;
}
.info .button {
    margin-right: 100px;
    background-color:rgb(202, 68, 68); 
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    cursor: pointer;
    
    transition: .2s;
}

.info .button:hover {
    transform: scale(1.05);
}

/*
footer
*/
.footer{
    display: flex;
    height: 80px;
    background-color: rgb(97, 14, 14);
    align-items: center;
    justify-content: center;
}

.rights{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}